
/* ===== BASE ===== */
html {
    font-size: 1rem;
}

body {
    color: #000;
    background-color: #d6dce6;
    background-image: radial-gradient(circle, #00000018 1px, transparent 1px);
    background-size: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img {
    display: block;
    max-width: 100%;
}


ul {
    list-style: none;
}

/* ===== LAYOUT ===== */
.container {

}

/* ===== HEADER ===== */
header {

}

/* ===== MAIN ===== */
main {

}

/* ===== FOOTER ===== */
footer {

}
